# idea files
.idea/
.vs
.vscode
.settings
.externalToolBuilders
.classpath
.project

# build files
dist/
org.sbgn/build/
org.sbgn/gensrc/
/bin/

org.sbgn/examples/*.jar
org.sbgn/examples/*.bat
org.sbgn/examples/org/sbgn/*.class
org.sbgn/examples/test*sbgn
cpp_binding/sbgn.xsd

target
tools/xsddoc-1.0/classes